# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100/
.Trashes/
ehthumbs.db
Thumbs.db

# Xcode user data and build products
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
